/**
 * Management Page Layout
 */

.wrap { min-width: 800px }
.ap-overview th { background: #E1E1E1; border-bottom: 1px solid #0074a2 }
.ap-overview th a { box-shadow: none; outline: none }
.ap-overview .ap-code { min-width: 185px }
.ap-overview .ap-code .dashicons-clipboard { transform: rotate(-45deg); padding-top: 3px }
.ap-overview .ap-icon { text-align: center; width: 45px }
.ap-overview a { box-shadow: none }
.ap-overview a span { line-height: 27px }


/**
 * Create/Edit Page Layout
 */

.ap-left { float: left; clear: left; width: 100%; margin-right: -325px }
.ap-right { float: right; clear: right; width: 300px }


/**
 * Slide Layout
 */

.ap-slides, .ap-settings { margin: 0 325px 0 5px }
.ap-slide.ajax, .ap-slide.inactive .ap-inner { display: none }
.ap-slide h3, .postbox h3 { font-size: 16px; line-height: 18px; cursor: default !important; background: #E1E1E1;
  border-bottom: 1px solid #0074a2; padding: 8px 12px; margin: 0 }
.ap-slide .ap-toggle { width: 35px; height: 35px; text-align: center }
.ap-slide .ap-toggle:after { display: block; width: 16px; height: 16px; content: '–'; margin: 9px; background: #0074a2; color: white;
  font-size: 20px; line-height: 13px }
.ap-slide.inactive .ap-toggle:after { content: '+'; line-height: 15px }
.ap-slide .ap-controls { padding: 0 10px }
.ap-slide .ap-inner { padding: 10px }
.ap-slide .ap-inner label { display: inline-block; width: 75px }


/**
 * Colour picker
 */

.ap-slide .ap-inner [class$="-wrapper"] { display: inline-block; margin-left: 8px; height: 29px; overflow: hidden }
.ap-slide .ap-inner [class$="-wrapper"] button { padding: 4px !important }
.ap-slide .ap-inner [class$="-wrapper"] button span { border-radius: 3px; height: 18px; width: 19px }
.ap-slide .ap-inner .color-wrapper .color-picker { width: 70px; border-radius: 3px }
.ap-slide .ap-inner .color-wrapper .iris-picker { position: absolute; z-index: 10 }
.ap-slide .ap-inner .color-wrapper .iris-picker .iris-palette:first-of-type:before { color: darkred; font-size: 21px }


/**
 * Icon picker
 */

.ap-slide .ap-inner .icon-wrapper div { display: inline-block; width: 27px; height: 27px; background-repeat: no-repeat;
  background-position: center center; background-size: 18px 18px; margin-left: 2px; border-radius: 4px }
.ap-slide .ap-inner .icon-wrapper div.active { cursor: pointer; position: relative }
.ap-slide .ap-inner .icon-wrapper div.active:before { font-family: dashicons; content: ' '; position: absolute; border: 1px solid #ccc ;
  left: 0; top: 0; bottom: -1px; right: 0; border-radius: 3px; box-shadow: 0 1px 0 rgba(0,0,0,.08) }
.ap-slide .ap-inner .icon-wrapper div.active:hover:before { font-size: 26px; line-height: 29px; content: '\f158'; background: rgba(255,255,255,0.5); color: darkred }

/**
 * Slide titles, captions, media, editor, saving
 */

.ap-slide .ap-inner .title-wrapper { margin: 0 }
.ap-slide .ap-inner .ap-slide-caption-enabled { margin-left: 10px; display: inline }
.ap-slides #ap-add { float: left }
.ap-slides .ap-slide-caption { margin-bottom: 4px }
.ap-slides .ap-remove { margin-top: 10px }
.ap-slides .ap-wait { margin: 4px 0 0 4px; display: none; height: 16px; width: 16px; background: url('wpspin_light.gif') no-repeat }
.ap-slides .ap-save { float: right; display: inline-block }
/*.mce-panel { display: none }*/
.ap-slide iframe { height: 100% !important }


/**
 * Options panel
 */

.ap-options, .ap-newsletter { width: 285px; margin: 0 auto }
.ap-options .postbox h3 { cursor: default }
.ap-options .accordionName { margin-bottom: 0 }
.ap-options .accordionName label { display: inline-block; width: 60px }
.ap-options .accordionName input { margin: 0; width: 162px }
.ap-options .inside { margin-bottom: 5px }
.ap-options .button-primary { width: auto; margin: 15px 0 0 }
.ap-options label,
.ap-options select,
.ap-options input { display: inline-block; width: 40% }
.ap-options label { width: 56%; margin-right: 3%; height: 28px; line-height: 28px }
.ap-options label span { display: inline-block; width: 16px; height: 16px; line-height: 16px; background: #0074a2;
  text-align: center; border-radius: 10px; color: white; margin-right: 5px }
.ap-options .tooltip { position: absolute; top: 17px; left: 10px; z-index: 100; display: none; padding: 5px 10px;
  background: #0074a2; color: white; text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1); border-radius: 3px; width: 239px }

.ap-settings .inside { margin-right: 0 !important }
.ap-settings .signup-message { display: none }